---
layout: default
description: "Una referencia rápida y fácil de leer de las mejores prácticas de PHP, estándares de
              codificación aceptados, y vínculos a guías autoritativas de PHP en la Web"
---

{% capture welcome_content %}{% include welcome.md %}{% endcapture %}
{{ welcome_content|markdownify }}

{% capture backtotop %}[De vuelta al principio](#top){.top}{% endcapture %}
{% for post in site.posts reversed %}
    {% if post.isChild != true and loop.first != true %}
    {{ backtotop|markdownify }}
    {% endif %}
    <div id="{{ post.title | downcase | replace:' ','_' | replace:'(','' | replace:')','' | replace:'.','' | replace:'-','' | replace:'á','' | replace:'é','' | replace:'í','' | replace:'ó','' | replace:'ú','' | replace:'¿','' | replace:'¡','' }}">
    {{ post.content }}
    </div>
{% endfor %}
{{ backtotop|markdownify }}
